body {
  background-color: #0a0000;
  color: #f9d71c;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content {
  padding-bottom: 2.5rem;
}

h1 {
  text-transform: uppercase;
  transform: perspective(300px) rotateX(25deg);
  font-size: 5rem;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  transform: perspective(300px) rotateX(25deg);
}

input {
  border: 0;
  background: #ffe5c0;
  box-shadow: none;
  height: 2em;
}

#search {
  border: 0;
  background: white;
  box-shadow: none;
  height: 2em;
}

#returnData {
  margin: auto;
  margin-top: 3em;
  max-width: 80vw;
  font-size: 2rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
